header.primary
  .logo
    a(href='/')
      img(src="/public/img/company-logo.png", alt="Logo")
  nav.mainmenu
    ul.primary
      li
        a.active(href="#") Översikt
      li
        a(href="#") Inspiration
      li
        a(href="#") Ambassadörer
      li
        a(href="#") Cockpit
  nav.slideout
    ul
      li.header Inspiration
      li
        a(href="#") Om oss
      li
        a(href="#") Vår vison
      li
        a(href="/blog.html") Blogg
      li 
        a(href="#") Vår framtid
      li
        a(href="#") Livet efter resan
  .account
    a.btn(href='/system-settings.html') Inställningar
    a.btn.sign-out(href='/system-settings.html') Logga ut
