block vars
  - var bodyClass = 'dashboard'
  - var useFooter = true

extend template/default 
append page-header
  button Select widgets
append main
  .widget-row
    .widget-holder.full
      .top Aktivering i organisationen
        button.modal-toggle Filtrera
      .wrapper
        .gauge#total-activation
        .right
          .gauge#accepted-ambassador-invite
          .gauge#accepted-workshop-invite
          .gauge#booked-workshop
          .gauge#finished-tutoring
          .gauge#filled-out-activity-list
          .gauge#finished-activity
    
  .widget-row
    .widget-holder.half
      .top Inspiration/blog (alla)
      .widget-content
        .widget-content-row
          .widget-picture
            img(src="http://placehold.it/350x350")
          .widget-excerpt
            p These override some of the styles specified in themand partials in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. 
              a(href="/blog.html") Läs mer...
        .widget-content-row
          .widget-picture
            img(src="http://placehold.it/350x350")
          .widget-excerpt
            p These override some of the styles specified in themand partials in Bitters. You can replace the typography variables and the header font specifications in Bitters with these styles. 
              a(href="/blog.html") Läs mer...
    .widget-holder.half
      .top Mina aktiviteter (alla)
      .widget-content.activity-list
        table.activity-list.fixed#activity-list
          thead
            tr
              th.goal Mål
              th.description Beskrivning
              th Deadline
          tbody
            tr
              td.has-overflow
                div ordning och reda, jobba smartare inte hantera varor om och om igen...
              td.has-overflow
                div Bettina: ordna lagerplat "efter-kampanjen" för att få struktur på bulk som ev blir kvar efter sök av prof smarbetspartners(vård inrättning och mottagningari närhete: presenterar EMV p ex sidan sa te: presenterar EMV p ex sidan samt EMV i all te: presenterar EMV p ex sidan samt EMV i all
              td 09/10
            tr
              td.has-overflow
                div Arbeta in vårt EMV, bättre brutto samt trevlig happening på Apoteket - nåt händer!
              td.has-overflow 
                div Besök av prof smarbetspartners(vård inrättning och mottagningari närhete: presenterar EMV p ex sidan samt EMV i allmänhet, lägger Apotekets tidning i deras väntrum, påminner om direkta kommuikationskanaler till Apoteket (hemliga tlnr, fax, email osv...) hör vad vi kan avlasta med, anpassa lager efter doktorerna preferens/behov efter specialiteter/specialistvård osv informera regelbundet om restnoterade preparat och föreslå alternativ mm
              td 09/10
  .widget-row
    .widget-holder.half
      .top Mina boosts (alla)
      .widget-content
        ul.boost-list
          li Bjud den strandsatta ryska u-båtsgeneralen på lunch.
          li Hälsa på alla kollegor.
          li Rita en kanin på morgonmötet. 
    .widget-holder.half
      .top Min grupps aktiviteter (amba)
      .widget-content.activity-list
        table.activity-list.fixed#activity-list
          thead
            tr
              th.goal Mål
              th.description Beskrivning
              th Deadline
          tbody
            tr
              td.has-overflow
                div ordning och reda, jobba smartare inte hantera varor om och om igen...
              td.has-overflow
                div Bettina: ordna lagerplat "efter-kampanjen" för att få struktur på bulk som ev blir kvar efter sök av prof smarbetspartners(vård inrättning och mottagningari närhete: presenterar EMV p ex sidan sa te: presenterar EMV p ex sidan samt EMV i all te: presenterar EMV p ex sidan samt EMV i all
              td 09/10
            tr
              td.has-overflow
                div Arbeta in vårt EMV, bättre brutto samt trevlig happening på Apoteket - nåt händer!
              td.has-overflow 
                div Besök av prof smarbetspartners(vård inrättning och mottagningari närhete: presenterar EMV p ex sidan samt EMV i allmänhet, lägger Apotekets tidning i deras väntrum, påminner om direkta kommuikationskanaler till Apoteket (hemliga tlnr, fax, email osv...) hör vad vi kan avlasta med, anpassa lager efter doktorerna preferens/behov efter specialiteter/specialistvård osv informera regelbundet om restnoterade preparat och föreslå alternativ mm
              td 09/10

  .widget-row
    .widget-holder.half
      .top Liveflöde (alla)
      .widget-content
        ul.livefeed-list
          li.activity-completed Aktivitet 'Diskutera kundbemöttande' avklarad 
            span.details - Karin Andersson, 14:32
          li.new-user Ny användare 'Barack Obama' tillagd 
            span.details - Jack Svensson, 13:21
          li.goal-completed Mål 'Förstå innebörden av affärsmässiga relationer' avklarad 
            span.details - Venithan Nilsson, 11:59
    .widget-holder.half
      .top Aktivitetslogg från cockpiten (cockpit)
      .widget-content
        ul.livefeed-list
          li.activity-completed Cockpit-aktivitet avklarad
            span.details - Anders Palmer, 12:45
          li.new-user Användare i cockpiten tillagd 
            span.details - Göran Reinfeldt, 11:11
          li.goal-completed Cockpit-relaterat mål avklarad 
            span.details - Fredrik Persson, 11:09

  .modal#modal-filter-business-area
    .modal-inner
      label.modal-close.modal-toggle(for='modal-1')
      h1 Filter widget data
      .user-tree
        .top
          input.search#filterTreeSearch(type='text', placeholder='Search department')
        .tree-container
          .tree#filterTree
            ul
              li(data-jstree='{"icon":"icon-home","opened":true,"selected":true}') Hubbster AB
                ul
                  li(data-jstree='{"icon":"icon-office"}') Affärsutveckling
                  li(data-jstree='{"icon":"icon-office"}') UI/UX team
                  li(data-jstree='{"icon":"icon-office"}') Affärsutveckling
                  li(data-jstree='{"icon":"icon-office"}') UI/UX team
      .footer
        button OK
            
append scripts
  script(src="/public/js/vendor/raphael.2.1.0.min.js")
  script(src="/public/js/vendor/justgage.1.0.1.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.3/jstree.min.js")

  script.
    $(function () {
        $('#filterTree').jstree({
            "plugins": ["wholerow", "checkbox", "search", "sort", "dnd"],
            "core" : {
              "check_callback" : true,
              "themes" : {
                "variant" : "large",
                "stripes" : true
              }
            },
            "types" : {
              "ambassador" : {
                "icon" : "icon-user4"
              },
              "user" : {
                "icon" : "icon-user"
              }
            }
        });
        var to = false;
        $('#filterTreeSearch').keyup(function () {
            if (to) {
                clearTimeout(to);
            }
            to = setTimeout(function () {
                var v = $('#filterTreeSearch').val();
                $('#filterTree').jstree(true).search(v);
            }, 250);
        });
    });
    
  script.
    var totalActivation = new JustGage({
      id: "total-activation",

      relativeGaugeSize: true,
      startAnimationTime: 2500,
      symbol: "%",
      value: getRandomInt(0, 100), 
      min: 0,
      max: 100,
      title: "Total activation",
      levelColorsGradient: false,
      counter: true,
      customSectors: [{
          color: "#FF0000",
          lo: 0,
          hi: 30
      }, {
          color: "#FFCC00",
          lo: 30,
          hi: 70
      }, {
          color: "#009933",
          lo: 70,
          hi: 100
      }]
    });

    var acceptedAmbassadorInvite = new JustGage({
      id: "accepted-ambassador-invite",
      startAnimationTime: 2500,
      label: "accepted",
      labelFontColor: "#4C4C4C",
      relativeGaugeSize: true,
      symbol: "%",
      value: getRandomInt(0, 100), 
      min: 0,
      max: 100,
      title: "Ambasasador invites",
      levelColorsGradient: false,
      counter: true,
      customSectors: [{
          color: "#FF0000",
          lo: 0,
          hi: 30
      }, {
          color: "#FFCC00",
          lo: 30,
          hi: 70
      }, {
          color: "#009933",
          lo: 70,
          hi: 100
      }]
    });

    var acceptedWorkshopInvite = new JustGage({
      id: "accepted-workshop-invite",
      startAnimationTime: 2500,
      label: "accepted",
      labelFontColor: "#4C4C4C",
      relativeGaugeSize: true,
      symbol: "%",
      value: getRandomInt(0, 100), 
      min: 0,
      max: 100,
      title: "Workshop invites",
      levelColorsGradient: false,
      counter: true,
      customSectors: [{
          color: "#FF0000",
          lo: 0,
          hi: 30
      }, {
          color: "#FFCC00",
          lo: 30,
          hi: 70
      }, {
          color: "#009933",
          lo: 70,
          hi: 100
      }]
    });

    var bookedWorkshop = new JustGage({
      id: "booked-workshop",
      startAnimationTime: 2500,
      label: "booked",
      labelFontColor: "#4C4C4C",
      relativeGaugeSize: true,
      symbol: "%",
      value: getRandomInt(0, 100), 
      min: 0,
      max: 100,
      title: "Booked workshop",
      levelColorsGradient: false,
      counter: true,
      customSectors: [{
          color: "#FF0000",
          lo: 0,
          hi: 30
      }, {
          color: "#FFCC00",
          lo: 30,
          hi: 70
      }, {
          color: "#009933",
          lo: 70,
          hi: 100
      }]
    });

    var filledOutActivityList = new JustGage({
      id: "filled-out-activity-list",
      startAnimationTime: 2500,
      label: "Filled out",
      labelFontColor: "#4C4C4C",
      relativeGaugeSize: true,
      symbol: "%",
      value: getRandomInt(0, 100), 
      min: 0,
      max: 100,
      title: "Filled out activity list",
      levelColorsGradient: false,
      counter: true,
      customSectors: [{
          color: "#FF0000",
          lo: 0,
          hi: 30
      }, {
          color: "#FFCC00",
          lo: 30,
          hi: 70
      }, {
          color: "#009933",
          lo: 70,
          hi: 100
      }]
    });

    var finishedTutoring = new JustGage({
      id: "finished-tutoring",
      startAnimationTime: 2500,
      label: "finished",
      labelFontColor: "#4C4C4C",
      relativeGaugeSize: true,
      symbol: "%",
      value: getRandomInt(0, 100), 
      min: 0,
      max: 100,
      title: "Finished tutoring",
      levelColorsGradient: false,
      counter: true,
      customSectors: [{
          color: "#FF0000",
          lo: 0,
          hi: 30
      }, {
          color: "#FFCC00",
          lo: 30,
          hi: 70
      }, {
          color: "#009933",
          lo: 70,
          hi: 100
      }]
    });

    var finishedActivity = new JustGage({
      id: "finished-activity",
      startAnimationTime: 2500,
      label: "completed",
      labelFontColor: "#4C4C4C",
      relativeGaugeSize: true,
      symbol: "%",
      value: getRandomInt(0, 100), 
      min: 0,
      max: 100,
      title: "Activities completed",
      levelColorsGradient: false,
      counter: true,
      customSectors: [{
          color: "#FF0000",
          lo: 0,
          hi: 30
      }, {
          color: "#FFCC00",
          lo: 30,
          hi: 70
      }, {
          color: "#009933",
          lo: 70,
          hi: 100
      }]
    });