block vars
  - var bodyClass = 'system-settings'
  - var useFooter = false

extend template/default 
append main
  ul.tabs
    li.tab-header-and-content
      a.tab-link(href='#') Users
      .tab-content
        span.headline User directory
        p
          .user-tree
            .top
              button.green
                span.icon-plus &nbsp;Add user
              button Import users
              input.search#userTreeSearch(type='text', placeholder='Search user/department')
            .tree-container
              .tree#userTree
                ul
                  li.jstree-open(data-jstree='{"icon":"icon-home"}') Hubbster AB
                    ul
                      li(data-jstree='{"icon":"icon-office"}') Affärsutveckling
                        ul
                          li(data-jstree='{"icon":"icon-star3"}') Niklas Engström
                          li(data-jstree='{"type":"user"}') Ambassadör
                          li(data-jstree='{"icon":"icon-user"}') Pelle Karlsson
                          li(data-jstree='{"icon":"icon-user"}') Styina Larsson
                      li(data-jstree='{"icon":"icon-office"}') UI/UX team
                        ul
                          li(data-jstree='{"icon":"icon-user"}') Anton Kjörck Lindén
                      li(data-jstree='{"icon":"icon-office"}') Affärsutveckling
                        ul
                          li(data-jstree='{"icon":"icon-user"}') Niklas Engström
                          li(data-jstree='{"icon":"icon-user"}') Anna Karling
                          li(data-jstree='{"icon":"icon-user"}') Niklas Engström
                          li(data-jstree='{"icon":"icon-user"}') Anna Karling
                      li(data-jstree='{"icon":"icon-office"}') UI/UX team
                        ul
                          li(data-jstree='{"icon":"icon-user"}') Anton Kjörck Lindén
              .data
                p
                  button.red
                    span.icon-remove &nbsp;Delete
                  button
                    span.icon-key2 &nbsp;User password
                p
                  input#fullName(type='text', placeholder='Full name')
                p
                  input#email(type='email', placeholder='Email')
                p
                  label(for='select_user_type') User type
                  select(name='select_user_type')
                    optgroup(label='Select a user type')
                      option(value='cockpit') Cockpit
                      option(value='ambassador') Ambassador
                      option(value='user') Regular
                p
                  button.green
                    span.icon-checkmark &nbsp;Save
        .user-permissions
          span.headline User permissions (only available for cockpit users)
          table
            tr
              th.access-area
              th.check User
              th.check Ambassador
              th.check Cockpit
            tr
              th Access user directory
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1')              
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1')
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1' checked disabled)
            tr
              th.header(colspan="4") Widgets
            tr
              th Activation widget
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1')
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1')
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1' checked disabled)
            tr
              th Visitor widgeta
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1')
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1')
              td.check
                input.checkbox(type='checkbox', name='ckeck', value='check_1' checked disabled)

    li.tab-header-and-content
      a.tab-link(href='#') Grundinställningar
      .tab-content
        span.headline Företagsuppgifter
        p
          label(for='headline') Företagsnamn:
          input#headline(type='text', placeholder='Företagsnamn')
        p
          label(for='headline') Faktureringsreferens:
          input#headline(type='text', placeholder='Faktureringsreferens')
        p
          label(for='headline') Faktureringsadress:
          input#headline(type='text', placeholder='Faktureringsadress')
        p
          label(for='headline') Postnummer:
          input#headline(type='text', placeholder='Postnummer')
        p
          label(for='headline') Stad:
          input#headline(type='text', placeholder='Stad')
        p
          label(for='headline') Land:
          input#headline(type='text', placeholder='Land')
        p
          label(for='headline') Delstat (om tillämpligt):
          input#headline(type='text', placeholder='Delstat')

        span.headline Uppgifter
        p
          label(for='headline') Namn på verktyget:
          input#headline(type='text', placeholder='CoreHub')
        p
          label(for='select-language') Standardspråk:
          select(name='select-language')
            optgroup(label='Välj standardspråk för nya användare')
              option(value='1') English
              option(value='2') Swedish

        span.headline Design
        p
          label(for='headline') Färgschema:
          input#color(type='text' value="#333399")
        p
          label(for='radio_buttons') Typsnitt:
            label
              input.radio(type='radio', name='radio_button', value='radio_1' selected)
              | Välj i lista (rekomenderas)
            label
              input.radio(type='radio', name='radio_button', value='radio_2')
              | Installera ett eget typsnitt (avancerat)
        p
          label(for='file') Logotyp:
            input.file(type='file', name='file')

    li.tab-header-and-content
      a.tab-link(href='#') Flöden
      .tab-content
        span.headline Systemgenererade epostmeddelanden
        ul.accordion
          li.accordion-header-and-content
            a.accordion-link(href='#') Ambassadörsinbjudan
            .accordion-content
              p
                label(for='headline') Rubrik:
                input#headline(type='text', placeholder='Hej, %USER_FULL_NAME%')

              p
                label(for='message') Meddelande:
                textarea#message(rows='10', placeholder='Hej, %USER_FULL_NAME%! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus')

          li.accordion-header-and-content
            a.accordion-link(href='#') Påminnelsemail
            .accordion-content
              p
                label(for='headline') Rubrik:
                input#headline(type='text', placeholder='Hej, %USER_FULL_NAME%')

              p
                label(for='message') Meddelande:
                textarea#message(rows='10', placeholder='Hej, %USER_FULL_NAME%! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus')

          li.accordion-header-and-content
            a.accordion-link(href='#') Peppmail
            .accordion-content
              p
                label(for='headline') Rubrik:
                input#headline(type='text', placeholder='Hej, %USER_FULL_NAME%')

              p
                label(for='message') Meddelande:
                textarea#message(rows='10', placeholder='Hej, %USER_FULL_NAME%! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus')
        span.headline Tidsramer för aktiviter
        form
          p
            label(for='select_element') Kort tidsram:
            select(name='select_element')
              optgroup(label='Välj en tidsram')
                option(value='1') 1 månad(er)
                option(value='2') 2 månad(er)
          p
            label(for='select_element') Medellång tidsram:
            select(name='select_element')
              optgroup(label='Välj en tidsram')
                option(value='1') 3 månad(er)
                option(value='2') 4 månad(er)
          p
            label(for='select_element') Lång tidsram:
            select(name='select_element')
              optgroup(label='Välj en tidsram')
                option(value='1') 5 månad(er)
                option(value='2') 6 månad(er)
        span.headline Påminnelser
        form
          p
            label.bold Påminnelse 1
            label
              input.checkbox(type='checkbox', name='checkboxes', value='check_1')
              | Aktiv
            label(for='select_element') Mottagare:
            select(name='select_element')
              optgroup(label='Välj vem som skall få påminnelsen')
                option(value='1') Ansvarig
                option(value='2') 
            label(for='select_element') Tidsram:
            select(name='select_element')
              optgroup(label='Välj när påminnelsen skall gå ut')
                option(value='1') Halvtid (50% av utsatt tid)
          p
            label.bold Påminnelse 2
            label
              input.checkbox(type='checkbox', name='checkboxes', value='check_1')
              | Aktiv
            label(for='select_element') Mottagare:
            select(name='select_element')
              optgroup(label='Välj vem som skall få påminnelsen')
                option(value='1') Ansvarig
                option(value='2') 
            label(for='select_element') Tidsram:
            select(name='select_element')
              optgroup(label='Välj när påminnelsen skall gå ut')
                option(value='1') Halvtid (50% av utsatt tid)
          p
            label.bold Påminnelse 3
            label
              input.checkbox(type='checkbox', name='checkboxes', value='check_1')
              | Aktiv
            label(for='select_element') Mottagare:
            select(name='select_element')
              optgroup(label='Välj vem som skall få påminnelsen')
                option(value='1') Ansvarig
                option(value='2') 
            label(for='select_element') Tidsram:
            select(name='select_element')
              optgroup(label='Välj när påminnelsen skall gå ut')
                option(value='1') Halvtid (50% av utsatt tid)
          p
            label.bold Påminnelse 4
            label
              input.checkbox(type='checkbox', name='checkboxes', value='check_1')
              | Aktiv
            label(for='select_element') Mottagare:
            select(name='select_element')
              optgroup(label='Välj vem som skall få påminnelsen')
                option(value='1') Ansvarig
                option(value='2') 
            label(for='select_element') Tidsram:
            select(name='select_element')
              optgroup(label='Välj när påminnelsen skall gå ut')
                option(value='1') Halvtid (50% av utsatt tid)


        span.headline Egna aktivitetsfält
        form
          ul.accordion
            li.accordion-header-and-content
              a.accordion-link(href='#') Eget fält 1
              .accordion-content
                p
                  label(for='headline') Namn:
                  input#headline(type='text', placeholder='Ange ett namn på fältet')
                p
                  label(for='select-type-1') Typ
                  select(name='select-type-1')
                    optgroup(label='Välj en typ')
                      option(value='1') Text
                      option(value='2') Numeriskt värde
                p
                  label
                    input.checkbox(type='checkbox', name='checkboxes', value='check_1')
                    | Aktiv

            li.accordion-header-and-content
              a.accordion-link(href='#') Eget fält 2
              .accordion-content
                p
                  label(for='headline') Namn:
                  input#headline(type='text', placeholder='Ange ett namn på fältet')
                p
                  label(for='select-type-1') Typ
                  select(name='select-type-1')
                    optgroup(label='Välj en typ')
                      option(value='1') Text
                      option(value='2') Numeriskt värde
                p
                  label
                    input.checkbox(type='checkbox', name='checkboxes', value='check_1')
                    | Aktiv

    li.tab-header-and-content
      a.tab-link(href='#') Master admin
      .tab-content
        span.headline Code editor
        .file-editor
          .navigation
            #fileTree
              ul
                li(data-jstree='{"icon":"icon-folder"}') SASS
                  ul
                    li(data-jstree='{"icon":"icon-file"}') _override.sass
                    li(data-jstree='{"icon":"icon-file"}') _view.sass
          .code
            #editor

    li.tab-header-and-content
      a.tab-link(href='#') My account
      .tab-content
        span.headline Change password
        p
          label(for='headline') Password:
          input#headline(type='password', placeholder='New password')
        p
          label(for='headline') Repeat password:
          input#headline(type='password', placeholder='Repeat new password')
  p
    input(type='submit', value='Save settings')

append scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.3/jstree.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js")
  script.
    $(function () {
        $('#userTree').jstree({
            "plugins": ["wholerow", "checkbox", "search", "sort", "dnd"],
            "core" : {
              "check_callback" : true,
              "themes" : {
                "variant" : "large",
                "stripes" : true
              }
            },
            "types" : {
              "ambassador" : {
                "icon" : "icon-user4"
              },
              "user" : {
                "icon" : "icon-user"
              }
            }
        });
        var to = false;
        $('#userTreeSearch').keyup(function () {
            if (to) {
                clearTimeout(to);
            }
            to = setTimeout(function () {
                var v = $('#userTreeSearch').val();
                $('#userTree').jstree(true).search(v);
            }, 250);
        });
    });
  script.
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/sass");
  script.
      $(function () {
          $('#fileTree').jstree({
              "plugins": ["wholerow", "sort"],
              "core" : {
                "themes" : {
                  "variant" : "large",
                  "stripes" : true
                }
              },
              "types" : {
                "folder" : {
                  "icon" : "icon-folder"
                },
                "file" : {
                  "icon" : "icon-file"
                }
              }
          });
      });
