#total-activation
  +span(full)

  +breakpoint($medium-screen)
    +span(11 of 24)

.right
  +span(full)
  padding-top: 2em

  +breakpoint($medium-screen)
    +span(13 of 24 last)

#accepted-ambassador-invite,
#accepted-workshop-invite,
#booked-workshop,
#filled-out-activity-list,
#finished-tutoring,
#finished-activity
  width: 50%
  float: left

  +breakpoint($large-screen)
    width: 33.333334%

.wrapper
  +clearfix
  max-width: 76em
  margin-left: auto
  margin-right: auto

.widget-row
  +break
  +span(full nest)

.widget-holder
  +clearfix
  margin-bottom: 1em
  background-color: $uibasebg
  box-shadow: 0 2px 4px #E6E6E6
  border: 1px solid $base-border-color

  .top
    position: relative
    text-align: center
    padding: 15px
    background-color: darken( $uibasebg, 5% )
    font-weight: 500
    border-bottom: 1px solid $base-border-color
    button
      position: absolute
      right: 0.5em
      top: 0.5em

  &.half
    +span(full)

    +breakpoint($medium-screen)
      +gallery(6 of 12)

  &.full
    +span(full)

.widget-content
  padding: 20px

.widget-content-row
  +clearfix
  +span(full)
  margin-bottom: 5px

.widget-picture
  +span(2 of 12)
  overflow: hidden
  border-radius: 999px

.widget-excerpt
  +span(10 last of 12)

  a
    text-decoration: underline

#modal-filter-business-area

.boost-list, .livefeed-list
  list-style-type: none
  padding: 0

  li
    padding-left: 32px
    margin-bottom: 8px
    background-size: 18px 18px
    background-position: center left
    background-repeat: no-repeat

.boost-list
  li
    background-image: url(/public/icons/boost.svg)

.livefeed-list
  .activity-completed
    background-image: url(/public/icons/activity.svg)

  .new-user
    background-image: url(/public/icons/new-user.svg)

  .goal-completed
    background-image: url(/public/icons/goal-completed.svg)

  .details
    color: lighten($base-font-color, 30)